*venv*
**build**
.vscode
**node_modules**
**~lock**
**.xlsx**
**.csv**Suppose that we are randomly selecting students in a class. How many students do we need to select to make sure that two of them are born in the same month?
**package**